$font-stack:    Helvetica, sans-serif
$primary-color: #eee
$second-color: #183D89
$font-body: 18px

//this is my body
body
  font: $font-body $font-stack
  background-color: $primary-color

.me
  color: $second-color
