doctype html
head
  title ZiGang first JADE ..!

  link(rel="stylesheet", href="css/style.css", type="text/css")
body
  //my div with me class
  div.me
    h1.big-font Zi GanG is Leveling Up
    p Hi! I'm Zi Gang and say hello! Let's learn web development with me ! :)
    input(type="email", placeholder="Your email")
    script(src="js/script.js")
