doctype html
head
  title ZiGang first JADE ..!

  link(rel="stylesheet", href="css/style.css", type="text/css")
body
  div.me
    h1 Zi GanG
    p Hi! I'm Zi Gang and say hello!
    input(type="email", placeholder="Your email")
    script(src="js/script.js")
input(type="submit")
